.docs-page {
	padding: 12px;
}

.docs-page .md-button {
	margin: 0;
}

.docs-page .md-button .material-icons {
	top: 7px;
	position: relative;
}

.docs-page hr {
	margin: 10px 0;
}

.docs-page h1 {
	font-weight: 300;
	font-size: 28px;
}

.docs-page h2 {
	font-weight: 500;
	font-size: 22px;
}

.docs-page__home h2 {
	margin-bottom: 0;
}

.docs-page h3 {
	font-weight: 300;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	padding-bottom: 6px;
}

.docs-page h4 {
	font-weight: 500;
	font-size: 16px;
}

.docs-page h5 {
	font-weight: 300;
	font-size: 16px;
}

.home__main-content, .home__sidebar {
	padding: 0 16px;
}

.docs-page__home ul li:hover {
	background-color: rgba(0,0,0,0.12);
	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	border-radius: 3px;
	cursor: pointer;
}

.docs-page__home ul li {
	padding: 6px;
}

.docs-page__home ul li a {
	display: block;
}

.docs-page__home ul li a:hover {
	text-decoration: none!important;
}

.docs-button {
	background: #c5050c;
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-height: 36px;
	min-width: 88px;
	line-height: 36px;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-grid-row-align: center;
	align-items: center;
	text-align: center;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0;
	padding: 0 6px;
	margin: 6px 8px;
	color: #fff;
	white-space: nowrap;
	font-weight: 500;
	font-size: 14px;
	font-style: inherit;
	font-variant: inherit;
	font-family: inherit;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.docs-button:hover {
	text-decoration: none!important;
	background-color: #900;
	color: #fff;
}

.docs-button:active {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

.markdown {
  padding: 0 10px 0;
}
.markdown ul {
  list-style-type: circle !important;
}

.markdown ul li {
  margin-left : 40px;
}

.markdown .width-100 img {
  width: 100%;
}

.markdown img {
	max-width: 100%;
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 3px;
}

.my-uw p a:not(.btn):not(.md-button):hover {
	border-bottom: none;
}