<frame-page app-title='Beta Settings'
            app-icon='fa-gears'
            white-background='true'
            class="beta-settings-page">
  <md-content layout-padding>
    <div layout-gt-sm="row" layout="column">
      <!-- Settings options -->
      <div layout="column" flex-gt-sm="60" >
        <div layout="row" ng-repeat="option in options">
          <uw-setting-option></uw-setting-option>
        </div>
      </div>
      <!-- Theme selector and 'danger zone' -->
      <div layout="column" flex-gt-sm="40">
        <h4 class="md-subhead">Theme Selector<br><small>Pick which place you call home.</small></h4>
        <select class="form-control" ng-options="item as item.name for item in THEMES track by item.name" ng-model="portal.theme">
        </select>
        <h4 class="md-subhead">Danger Zone<br>
          <small>Clean the slate by clearing the session storage and resetting to defaults.</small>
        </h4>
        <div layout="column" layout-gt-xs="row">
          <md-button class='md-primary md-raised' ng-click="resetAll()">
            Reset All
          </md-button>
          <md-button class="md-accent md-raised" ng-click="resetSession(); reload();">
            Reset Session
          </md-button>
          <md-button class="md-warn md-raised" ng-click="resetLocal(); reload();">
            Reset Local
          </md-button>
        </div>
      </div>
    </div>

  </md-content>
</frame-page>
