<div  ng-controller="PortalNotificationController as notificationIconCtrl">
    <!--mobile bell in hamburger-->
    <div ng-if='notificationsEnabled && directiveMode==="mobile-bell" && countWithDismissed() !== 0 && !isEmpty'>
      <div class='notification-badge notification-badge-mobile' aria-label='{{status}}'>
        <i class='fa fa-bell'></i>
      </div>
    </div>
    <!--Mobile menu row or the notification bell on desktop-->
    <a ng-if='notificationsEnabled && (directiveMode === "bell" || directiveMode === "mobile-menu")' title="click to view notifications" ng-href="{{notificationUrl}}">
      <div ng-show='directiveMode !== "mobile-menu"' class='notification-badge' aria-label='{{status}}' ng-class='{ "notification-badge-empty" : (countWithDismissed() === 0 || isEmpty)}'>
        <span class="number-of-nots" ng-if='countWithDismissed() > 0' ng-class='{ "more-than-10-nots" : (countWithDismissed() > 9)}'>{{countWithDismissed()}}</span>
        <i class='fa fa-bell fa-2x'></i>
      </div>
      <div ng-show='directiveMode === "mobile-menu"' class='notification-badge-mobile-menu'  ng-click="headerCtrl.navbarCollapsed = true">
       <i class='fa fa-bell fa-fw'></i>  Notifications ({{countWithDismissed()}})
      </div>
    </a>
</div>