<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<md-dialog class="dialog__session-expired" aria-label="session expired">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Session expired</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <p>Your session has expired. If you navigate away from this page or close your browser tab or window, you will be logged out.</p>
    <p>Please click the "Login" button below to login.</p>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button aria-label="close dialog and login" ng-click="closeDialog()">
      LOGIN
    </md-button>
  </md-dialog-actions>
</md-dialog>
