# Sadly need to manually maintain this file as superset of .gitignore
# cf. https://github.com/eslint/eslint/issues/9794

# paths that are also .gitignore'd
.vscode/*
.classpath
.idea
.project
.settings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.codenvy/project.json
src/main/webapp/node_modules/
src/main/webapp/test_out/
node_modules
npm-debug.log
*.iml
*.swp
\.DS_Store
docs/_site
docs/\.ruby-version
docs/bower_components
Gemfile.lock
nbproject/
components/coverage

# paths to eslintignore beyond those in .gitignore
components/js/ga.js
components/staticFeeds/example-json-callbacks/ill-formed.json
docs/