.classpath
.idea
.project
.settings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.codenvy/project.json
src/main/webapp/node_modules/
src/main/webapp/test_out/
node_modules
npm-debug.log
*.iml
*.swp
\.DS_Store