<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<md-card class="list-content" id="widget-id-{{::widget.nodeId}}">
  <!-- Widget contextual menu -->
  <md-menu class="widget-action" md-position-mode="target-right bottom">
    <md-button class="md-icon-button" aria-label="open {{ widget.title }} menu" ng-click="$mdOpenMenu($event)">
      <md-tooltip class="widget-action-tooltip" md-direction="top" role="tooltip">
        Open {{ widget.title }} menu
      </md-tooltip>
      <md-icon>more_vert</md-icon>
    </md-button>
    <md-menu-content class="widget-menu" width="4">
      <md-menu-item class="widget-description" md-autofocus tabindex="1" layout="row" layout-align="start center">
        <md-icon>info</md-icon>
        <span><strong>{{ widget.title }}:</strong> {{ widget.description }}</span>
      </md-menu-item>
      <!-- Remove widget button -->
      <div role="button" tabindex="{{ tabindex }}" ng-transclude="removeButton" ng-keyup="triggerRemoveButton($event)"></div>
    </md-menu-content>
  </md-menu>
  <!-- Widget clickable area -->
  <a aria-labelledby="appTitle_widget.title-{{::widget.nodeId}}" tabindex="0" ng-href="{{widget.url}}" target="{{::widget.target}}" rel="noopener noreferrer">
    <div class="icon-container">
      <widget-icon></widget-icon>
    </div>
    <div class="list-item-container">
      <h4 id="appTitle_widget.title-{{::widget.nodeId}}">{{ ::widget.title }}</h4>
    </div>
  </a>
</md-card>
