<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div class="widget-body list-of-links">

  <!-- FOUR LINKS OR LESS -->
  <div ng-show="config.links.length <= 4" class="list-of-links__{{config.links.length}}">
    <circle-button ng-if="item.icon.indexOf('fa-') > -1"
                   ng-repeat="item in config.links"
                   data-href="{{item.href}}"
                   data-target="{{item.target}}"
                   data-fa-icon="{{item.icon}}"
                   data-disabled="false"
                   data-title="{{item.title}}"
                   data-trunclen="24">
    </circle-button>
    <circle-button ng-if="item.icon.indexOf('fa-') <= -1"
                   ng-repeat="item in config.links"
                   data-href="{{item.href}}"
                   data-target="{{item.target}}"
                   data-md-icon="{{item.icon}}"
                   data-disabled="false"
                   data-title="{{item.title}}"
                   data-trunclen="24">
    </circle-button>
  </div>

  <!-- MORE THAN FOUR LINKS -->
  <div ng-show="config.links.length > 4" class="list-of-links__long">
    <ul class="widget-list">
      <li ng-repeat='item in config.links | limitTo: 7' class="link-icon">
        <i ng-if="item.icon.indexOf('fa-') > -1" class="fa {{item.icon}}"></i>
        <md-icon ng-if="item.icon.indexOf('fa-') <= -1">{{item.icon}}</md-icon>
        <a ng-href="{{item.href}}" target="{{item.target}}" rel="noopener noreferrer">
          {{item.title | truncate:24}}
        </a>
      </li>
    </ul>
  </div>

</div>

<!-- LAUNCH BUTTON -->
<launch-button data-href="{{widget.url}}"
               data-target="{{ widget.target ? widget.target : '_self' }}"
               data-button-text="{{ config.launchText ? config.launchText : 'Launch full app' }}"
               data-aria-label="{{ config.launchText ? config.launchText : 'Launch ' + widget.title }}"></launch-button>
