<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- TIME-SENSITIVE CONTENT -->
<div class="widget-body" ng-if="callToAction" layout="column" layout-align="center center">
  <span class="tsc__title">{{ callToAction.actionName }}</span>
  <div class="tsc__status">
    <!-- Take action period upcoming -->
    <p ng-if="templateStatus == 'upcoming'">begins {{ activePeriodStartDate | date:mediumDate }}</p>
    <!-- Take action period ongoing -->
    <div ng-if="templateStatus == 'ongoing'" layout="column" layout-align="center center">
      <p>
        <span class="tsc__days-left">{{ daysLeft }}</span> day<span ng-if="daysLeft > 1">s</span> left
        <span ng-if="callToAction.daysLeftMessage"> {{ callToAction.daysLeftMessage }}</span>
      </p>
      <p><md-button class="md-raised md-accent" ng-href="{{ callToAction.actionButton.url }}">{{ callToAction.actionButton.label }}</md-button></p>
    </div>
    <!-- Last day to take action -->
    <div ng-if="templateStatus == 'lastDay'" layout="column" layout-align="center center">
      <p ng-if="callToAction.lastDayMessage"><span class="tsc__last-day"><md-icon class="md-warn" aria-label="warning:">warning</md-icon> {{ callToAction.lastDayMessage }}</span></p>
      <p ng-if="!callToAction.lastDayMessage">
        <span class="tsc__days-left">{{ daysLeft }}</span> day<span ng-if="daysLeft > 1">s</span> left
        <span ng-if="callToAction.daysLeftMessage"> {{ callToAction.daysLeftMessage }}</span>
      </p>
      <p><md-button class="md-raised md-accent" ng-href="{{ callToAction.actionButton.url }}">{{ callToAction.actionButton.label }}</md-button></p>
    </div>
    <!-- Take action period ended -->
    <p ng-if="templateStatus == 'ended'">ended {{ activePeriodEndDate | date:mediumDate }}</p>
  </div>
  <!-- Learn more link -->
  <!-- Give feedback link -->
  <div class="tsc__extra-buttons" layout="row" layout-align="center center">
    <a ng-if="callToAction.learnMoreUrl" ng-href="{{ callToAction.learnMoreUrl }}" target="_blank" rel="noreferrer noopener">Learn more</a>
    <a ng-if="templateStatus == 'ended' && callToAction.feedbackUrl"
      ng-href="{{ callToAction.feedbackUrl }}"
      target="_blank" rel="noreferrer noopener">Give feedback</a>
  </div>
</div>

<!-- BASIC CONTENT -->
<a ng-if="!callToAction" tabindex="-1" ng-href="{{ widget.url }}" target="{{ widget.target ? widget.target : '_self' }}" class="basic-widget" rel="noopener noreferrer">
  <div class="widget-icon-container" layout="column" layout-align="center center">
    <widget-icon></widget-icon>
  </div>
</a>

<!-- LAUNCH BUTTON -->
<launch-button data-href="{{config.launchUrl ? config.launchUrl : widget.url}}"
               data-target="{{ config.launchUrlTarget ? config.launchUrlTarget : widget.target ? widget.target : '_self' }}"
               data-button-text="{{ config.launchText ? config.launchText : 'Launch full app' }}"
               data-aria-label="{{ 'Launch ' + widget.title }}"></launch-button>
