<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div class="widget-body action-items">
  <!-- No action items to display -->
  <div layout="row" layout-align="center center" ng-show="actionItems.length == 0">
    <!-- Loading case -->
    <loading-gif data-object="actionItems" ng-show="loading"></loading-gif>

    <!-- Error case -->
    <div class="error" layout="row" layout-align="start center" ng-show="error">
      <div><md-icon class="md-warn">warning</md-icon></div>
      <span>There was an issue loading the information. Click See all for more info.</span>
    </div>
  </div>

  <!-- Has action items to display -->
  <div ng-show="actionItems.length > 0">
    <md-list class="widget-list md-2-line">
      <md-list-item ng-repeat="item in actionItems | limitTo:itemsLimit" ng-click="goToAction(item.actionUrl)" aria-label="click to take action">
        <div class="action-item__quantity">
          <span>{{ item.quantity }}</span>
        </div>
        <div class="md-list-item-text">
          <p ng-if="item.quantity == 1">{{ item.textSingular }}</p>
          <p ng-if="item.quantity != 1">{{ item.textPlural }}</p>
        </div>
      </md-list-item>
    </md-list>
    <!-- Over limit case -->
    <p ng-show="actionItems.length > itemsLimit" class="action-item__showing">Showing {{ itemsLimit }} of {{ actionItems.length }}</p>
  </div>

</div>

<!-- LAUNCH BUTTON -->
<launch-button data-href="{{ widget.url }}"
               data-target="{{ widget.target ? widget.target : '_self' }}"
               data-button-text="{{ config.launchText ? config.launchText : 'See all' }}"
               data-aria-label="{{ config.launchText ? config.launchText : 'Launch ' + widget.title }}"></launch-button>
