<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="About {{NAMES.title}}" 
                  app-image="img/square.jpg" 
                  app-description="{{NAMES.title}} is built using uw-frame, an open source product built by UW engineers. More information can be found on <a href='https://github.com/UW-Madison-DoIT/uw-frame' target='_blank' rel='noopener noreferrer'>Github <i class='fa fa-github'></i></a>"
                  app-collapse='false'
                  app-show-toggle='true'
                  white-background='true'>
  <div class="container-fluid" ng-controller='PortalAboutController as portalAboutCtrl'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <div class='widget-frame'  style='height: auto;'>
          <div class='widget-header'><div class='widget-title'>Frame Version Information</div></div>
          <p class='widget-body' ng-repeat='item in frameInfo'><span><b>{{item.name}}</b></span> : <span ng-if='item.name==="Git Commit ID"'><a ng-href='https://github.com/UW-Madison-DoIT/uw-frame/commit/{{item.value}}' target='_blank' rel='noopener noreferrer'>{{item.value}}</a></span><span ng-if='item.name!=="Git Commit ID"'>{{item.value}}</span></p>
        </div>
      </div>
    </div>
    <div class='row' ng-if='appInfo'>
      <div class='col-sm-10 col-sm-offset-1'>
        <div class='widget-frame'  style='height: auto;'>
          <div class='widget-header'><div class='widget-title'>{{NAMES.title}} Version Information</div></div>
          <pre class='widget-body'>{{appInfo | json}}</pre>
        </div>
      </div>
    </div>
  </div>
</frame-page>
