<div class="portlet-frame">
  <portlet-header app-title="About {{NAMES.title}}" 
                  app-image="img/square.jpg" 
                  app-description="{{NAMES.title}} is built using uw-frame, an open source product built by UW engineers. More information can be found on <a href='https://github.com/UW-Madison-DoIT/uw-frame' target='_blank'>Github <i class='fa fa-github'></i></a>"
                  app-collapse='false'
                  app-show-toggle='true'>
  </portlet-header>
  <div class="container-fluid" ng-controller='PortalAboutController as portalAboutCtrl'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <div class='widget-frame'  style='height: auto;'>
          <div class='widget-header'><div class='widget-title'>Frame Version Information</div></div>
          <p class='widget-body' ng-repeat='item in frameInfo'><span class='bold'>{{item.name}}</span> : <span ng-if='item.name==="Git Commit ID"'><a ng-href='https://github.com/UW-Madison-DoIT/uw-frame/commit/{{item.value}}' target='_blank'>{{item.value}}</a></span><span ng-if='item.name!=="Git Commit ID"'>{{item.value}}</span></p>
        </div>
      </div>
    </div>
    <div class='row' ng-if='appInfo'>
      <div class='col-sm-10 col-sm-offset-1'>
        <div class='widget-frame'  style='height: auto;'>
          <div class='widget-header'><div class='widget-title'>{{NAMES.title}} Version Information</div></div>
          <pre class='widget-body'>{{appInfo | json}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
