<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- Mobile search -->
<form name="searchForm" class="myuw-search__mobile" ng-submit="vm.submit()" ng-if="directiveMode === 'mobile-search' && vm.searchExpanded">
  <md-input-container class="md-block" md-no-float layout="row" layout-align="start center">
    <!-- submit xs-only-->
    <md-button class="md-icon-button search-submit-xs" ng-click="vm.submit()" aria-label="submit search" flex="10">
      <md-icon>search</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Submit</md-tooltip>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="vm.initialFilter"
           flex="80">
    <!-- close search xs-only-->
    <md-button class="md-icon-button search-close-xs" ng-click="vm.toggleSearch()" aria-label="close search bar" flex="10">
      <md-icon>close</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Close</md-tooltip>
    </md-button>
  </md-input-container>
</form>
<md-button ng-if="directiveMode === 'mobile-search'" class="md-icon-button" aria-label="Open {{portal.theme.title}} search" ng-click="vm.toggleSearch()">
  <md-icon>search</md-icon>
  <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">
    <span>Search</span>
  </md-tooltip>
</md-button>
<!-- Desktop search -->
<form name="searchForm" ng-submit="vm.submit()" ng-if="directiveMode !== 'mobile-search'">
  <md-input-container class="md-block myuw-search" md-no-float layout="row" layout-align="start center">
    <!-- submit xs+ -->
    <md-button class="md-icon-button" ng-click="vm.submit()" aria-label="submit search" hide-xs>
      <md-icon>search</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Search</md-tooltip>
    </md-button>
    <!-- submit xs-only-->
    <md-button class="md-icon-button search-submit-xs md-accent" ng-click="vm.submit()" aria-label="submit search" hide-gt-xs>
      <md-icon>search</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Submit</md-tooltip>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="vm.initialFilter"
           aria-label="Search bar enter the app you are looking for"
           autocomplete="off">
  </md-input-container>
</form>
