/* Card UI Styling */

.portlet-frame {
  padding:0px 0px;
  margin:0px 0px 15px 0px;
  padding-bottom:5px;
  position:relative;
}
.app-header {
  height:150px;
  position:relative;
  overflow:visible;
  z-index:20;
  background-color:#ddd;
}
.app-header.collapse-header {		
  height: 55px;		
  h1 {		
    font-size : x-large;		
  }		
}	
.app-header .dropdown {
  position:absolute;
  top:20px;
  right:20px;
  .dropdown-menu {
    right: 0px;
    left: auto;
  }
  i {
    font-size:20px;
    color:@white;
  }
}	
.app-header button {		
  float: right;		
  margin-right : 10px;		
}
.app-header h1 {
  color:@black;
  margin-top:10px;
  font-weight:200;
  padding:5px 60px 0px;
  z-index:5;
}
.app-header p {
  color:@black;
  width:60%;
  max-width:500px;
  padding:0px 20px;
  z-index:5;
}
.app-header img {
  width:120%;
  z-index:-1;
  position:absolute;
  opacity:0.3;
}
.app-header .header-links {
  .link-div {
    float:right;
    padding-top:20px;
    padding-right:40px;
  }
}
.no-image {
  background-color:@uw-red-badger;
}
.portlet-footer {
  border-top:1px solid @uw-red-badger;
  text-align:center;
  ul {
    margin:0px;
    padding:0px;
  }
  li {
    display:inline-block;
    padding:8px 10px 6px;
  }
}

