portal-header {
  display: block;
  a {
    &:not(.md-button):not(.btn):not(.launch-app-button) {
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  md-toolbar {
    min-height: 56px;
    position: fixed;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    z-index: 100;
    top: 0;
    .md-toolbar-tools {
      padding-left: 0;
      height: 56px;
      max-height: 56px;
      .title-link {
        h1 {
          @media (min-width: @xs) and (max-width: @sm) {
            margin-left: 16px;
          }
        }
        img {
          height: 56px;
          margin-right: 16px;
        }
        .beta-logo {
          font-size:0.55em;
          color: #fcf49c;
          position:relative;
          top:0;
          margin-left:3px;
        }
      }
      .md-menu {
        margin: 0;
        > .md-button {
          min-width: 48px;
          margin: 0;
        }
      }
      @media (max-width:@xs) {
        padding-right: 0;
      }
    }
  }
  &.has-priority-nots {
    @media (min-width: @xs) {
      margin-top: 46px;
      md-toolbar {
        top: 46px;
      }
    }
  }
  @media (max-width:@xs) {
    .search-xs {
      width: 100%;
      position: absolute;
      top: 56px;
      z-index: 101;
      overflow: hidden;
      transition: @search-transition;
      background: rgba(0,0,0,0.4);
      &:not(.search-expanded) {
        height: 0;
      }
      &.search-expanded {
        height: 56px;
      }
      form {
        height: auto;
        max-width: none;
        .myuw-search {
          padding: 2px 0 2px 18px;
          margin: 8px 12px;
          height: 40px;
          background: @white;
          .search-submit-xs {
            min-height: 0;
            height: 40px;
            width: 15%;
            border-radius: 0;
            position: relative;
            top: -2px;
            right: -2px;
          }
          .md-input {
            float: left;
            color: @grayscale10;
            height: 36px;
            width: 85%;
          }
        }
      }
    }
  }
}
