/* Card UI Styling */

.portlet-frame {
  padding:0 0 5px 0;
  margin:0 0 15px 0;
  position:relative;
}
.no-image {
  background-color:@color1;
}
.portlet-footer {
  border-top:1px solid @color1;
  text-align:center;
  ul {
    margin:0;
    padding:0;
  }
  li {
    display:inline-block;
    padding:8px 10px 6px;
  }
}

