
/** Couldn't find usage of this **/
.no-image {
  background-color:@uw-red-badger;
}

/** Padding is different in uw-ui-toolkit **/

.page-content {
	padding: 48px 0px;  
}

/*Used in static page for the setting gear */

.portlet-header .dropdown {
  position:absolute;
  top:20px;
  right:20px;
  .dropdown-menu {
    right: 0px;
    left: auto;
  }
  i {
    font-size:20px;
    color:@white;
  }
}

.portlet-header.collapse-header {		
  height: 50px;		
  h1 {		
    font-size : x-large;		
  }		
}		
		
.portlet-header button {		
  float: right;		
  margin-right : 10px;		
}
