<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="Beta Settings"
            app-icon="fa-gears"
            white-background="true"
            class="beta-settings-page">
  <md-content layout-padding>
    <div layout-gt-sm="row" layout="column">
      <!-- Settings options -->
      <div layout="column" flex-gt-sm="60" >
        <div layout="row" ng-repeat="option in options">
          <setting-option></setting-option>
        </div>
      </div>
      <!-- Theme selector and "danger zone" -->
      <div layout="column" flex-gt-sm="40">
        <h4 class="md-subhead">Theme Selector</h4>
        <md-input-container>
          <md-select ng-model="portal.theme" placeholder="Pick which place you call home" aria-label="Select a theme">
            <md-option ng-repeat="item in THEMES" ng-value="item">{{ item.name | formatThemeNameForDisplay }}</md-option>
          </md-select>
        </md-input-container>
        <h4 class="md-subhead">Danger Zone<br>
          <small>Clean the slate by clearing the session storage and resetting to defaults.</small>
        </h4>
        <div layout="column" layout-gt-xs="row">
          <md-button class="md-primary md-raised" ng-click="resetAll()">
            Reset All
          </md-button>
          <md-button class="md-accent md-raised" ng-click="resetSession(); reload();">
            Reset Session
          </md-button>
          <md-button class="md-warn md-raised" ng-click="resetLocal(); reload();">
            Reset Local
          </md-button>
        </div>
      </div>
    </div>
  </md-content>

</frame-page>
