<frame-page app-title="User Settings"
            app-icon="fa-gears"
            white-background="true"
            class="user-settings-page">
  <md-content layout-padding>
    <div layout="column">
      <p ng-hide="kvEnabled">No settings for you to set at this time.</p>
      <h4 class="md-subhead" ng-if="kvEnabled">Reset Zone<br>
        <small>Reset various features to their default states.</small>
      </h4>
      <div ng-if="kvEnabled" layout="column" layout-align="center start">
        <!-- RESET ANNOUNCEMENTS -->
        <div layout="row" layout-align="start center" ng-if="FEATURES.enabled">
          <md-button class="md-primary md-raised"
                     ng-click="resetAnnouncements()"
                     aria-label="reset seen announcements">
            reset announcements
            <i class="fa fa-spin fa-circle-o" ng-if="loadingResetAnnouncements"></i>
          </md-button>
          <small>Click to see previously-dismissed mascot and popup announcements.</small>
        </div>
        <!-- RESET NOTIFICATIONS -->
        <div layout="row" layout-align="start center" ng-if="NOTIFICATION.enabled">
          <md-button class="md-accent md-raised"
                     ng-click="resetKey(KV_KEYS.DISMISSED_NOTIFICATION_IDS,'DISMISSED_NOTIFICATION_IDS')"
                     aria-label="reset dismissed notifications">
            reset notifications
            <i class="fa fa-spin fa-circle-o" ng-if='DISMISSED_NOTIFICATION_IDS'></i>
          </md-button>
          <small>Click to see previously-dismissed notifications.</small>
        </div>
        <!-- RESET LAYOUT -->
        <div layout="row" layout-align="start center" ng-if="MISC_URLS.resetLayoutURL">
          <md-button class="md-warn md-raised"
                     ng-href="{{MISC_URLS.resetLayoutURL}}"
                     aria-label="reset layout">
            reset layout
          </md-button>
          <small>Click to reset your portal layout.</small>
        </div>
      </div>
    </div>
  </md-content>
</frame-page>
