<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<form name="searchForm" ng-submit="submit()" ng-hide="$storage.typeaheadSearch">
  <md-input-container class="md-block myuw-search" md-no-float layout="row" layout-align="start center">
    <!-- submit xs+ -->
    <md-button class="md-icon-button" ng-click="submit()" aria-label="submit search" hide-xs>
      <md-icon>search</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Search</md-tooltip>
    </md-button>
    <!-- submit xs-only-->
    <md-button class="md-icon-button search-submit-xs md-accent" ng-click="submit()" aria-label="submit search" hide-gt-xs>
      <md-icon>search</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Submit</md-tooltip>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="initialFilter"
           aria-label="Search bar enter the app you are looking for"
           focus-me="showSearchFocus"
           autocomplete="off">
  </md-input-container>
</form>
<form name="searchForm" ng-submit="submit()" ng-show="$storage.typeaheadSearch">
  <md-input-container class="md-block myuw-search" md-no-float layout="row" layout-align="start center">
    <md-button class="md-icon-button" ng-click="submit()" aria-label="submit search">
      <md-icon>search</md-icon>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="initialFilter"
           aria-label="Search bar enter the app you are looking for"
           focus-me="showSearchFocus"
           typeahead="title as match.title for match in filterMatches | limitTo:10"
           typeahead-on-select="onSelect($item, $model, $label)"
           typeahead-loading="portletListLoading"
           typeahead-min-length="2"
           typeahead-focus-first='false'
           autocomplete="off">
  </md-input-container>
</form>
