.docs-page {
	padding: 12px;
}

.docs-page .md-button {
	margin: 0;
}

.docs-page .md-button .material-icons {
	top: 7px;
	position: relative;
}

.docs-page h2 {
	font-weight: 500;
	font-size: 22px;
}

.docs-page h4 {
	font-weight: 500;
	font-size: 18px;
}

.markdown {
  padding: 0 10px 0;
}
.markdown ul {
  list-style-type: circle !important;
}

.markdown ul li {
  margin-left : 40px;
}

.markdown .width-100 img {
  width: 100%;
}

.markdown img {
	max-width: 100%;
}