<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<md-toolbar md-scroll-shrink class="md-primary" tabindex="0" ng-controller="MessagesController">
  <notifications-bell mode="priority" class="priority-gt-xs" header-ctrl="headerCtrl" hide-xs></notifications-bell>
  <span ng-controller="AnnouncementsController" controllerAs="vm"></span>
  <div class="md-toolbar-tools"  role="banner">
    <div layout="row" flex-gt-xs="30" flex-xs="40" layout-align="start center">
      <!-- MOBILE MENU -->
      <md-menu md-position-mode="target target" md-offset="0 56" hide-gt-xs>
        <md-button aria-label="toggle mobile menu" hide-gt-xs ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
          <notifications-bell mode="mobile-bell" ng-if="!GuestMode" hide-gt-xs></notifications-bell>
          <i class="fa fa-bars" style='font-size: 1.5em;'></i>
          <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Main menu</md-tooltip>
        </md-button>
        <md-menu-content width="5" class="mobile-menu">
          <!-- Mascot announcement -->
          <mascot-announcement mode="mobile-menu" header-ctrl="headerCtrl"></mascot-announcement>
          <!-- Notifications -->
          <notifications-bell mode="mobile-menu" header-ctrl="headerCtrl" ng-if="!GuestMode"></notifications-bell>
          <!-- Home link -->
          <md-menu-item>
            <md-button class="md-default" ng-if="APP_FLAGS.isWeb" ng-href="/web" ng-click="pushGAEvent('Mobile Menu', 'Click Link', 'Home');">
              <md-icon>home</md-icon> Home
            </md-button>
            <md-button class="md-default" ng-if='!APP_FLAGS.isWeb' ng-href="/" target="_self" ng-click="pushGAEvent('Mobile Menu', 'Click Link', 'Home');">
              <md-icon>home</md-icon> Home
            </md-button>
          </md-menu-item>
          <!-- Log out link -->
          <md-menu-item>
            <md-button class="md-default" ng-href="{{MISC_URLS.logoutURL}}" target="_self" ng-click="pushGAEvent('Mobile Menu', 'Click Link', 'Log out');">
              <md-icon>exit_to_app</md-icon> Log out
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!-- MyUW APP ICON AND TITLE -->
      <a ng-href="{{MISC_URLS.rootURL}}"
         class="title-link"
         target="_self"
         aria-label="{{portal.theme.ariaLabelTitle}}"
         layout="row"
         layout-align="start center">
        <img ng-src="{{portal.theme.crest}}"
             class="crest"
             alt="{{portal.theme.crestalt}}"
             hide-sm hide-xs>
        <h1 class="md-title" layout="row">
          <span>{{portal.theme.title}}</span>
          <span class="beta-logo" ng-if="portal.theme.subtitle">{{portal.theme.subtitle}}</span>
        </h1>
      </a>
    </div>

    <!-- SEARCH BUTTON AND USERNAME MENU XS-ONLY -->
    <div layout="row" layout-align="end center" flex-xs="60" class="top-bar-controls-xs" hide-gt-xs>
      <md-button class="md-icon-button" aria-label="Toggle {{portal.theme.title}} search" ng-click="toggleSearch()">
        <md-icon ng-if="!searchExpanded">search</md-icon>
        <md-icon ng-if="searchExpanded">close</md-icon>
        <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">
          <span ng-if="!searchExpanded">Search</span>
          <span ng-if="searchExpanded">Close search</span>
        </md-tooltip>
      </md-button>
      <username layout="row" layout-align="start center"></username>
    </div>


    <!-- SEARCH BAR SM+ -->
    <div layout="row" flex-gt-xs="40" layout-align="center center" hide-xs>
      <search ng-show="APP_FLAGS.showSearch"></search>
    </div>
    <span flex></span>

    <!-- COLLAPSIBLE MENU SM+ -->
    <div layout="row" layout-align="end center" flex-gt-xs="30" hide-xs>
      <mascot-announcement mode="mascot"></mascot-announcement>
      <notifications-bell mode="bell" ng-if="!GuestMode"></notifications-bell>
      <username layout="row" layout-align="start center"></username>
    </div>
  </div>
</md-toolbar>
<!-- SEARCH BAR XS-ONLY -->
<div class="search-xs" ng-class="{ 'search-expanded' : searchExpanded }" hide-gt-xs>
  <search ng-show="APP_FLAGS.showSearch"></search>
</div>
