<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div class="main-menu__focus-trap" ng-focus="vm.trapFocus($event, '-bottom')" tabindex="0"></div>
<md-sidenav class="md-sidenav-left main-menu__sidenav"
            md-component-id="main-menu"
            md-is-open="vm.openMenuByDefault"
            md-whiteframe="4"
            ng-hide="vm.hideMainMenu">
  <div class="main-menu__focus-anchor-top" tabindex="0" md-autofocus></div>
  <div class="main-menu__mobile-bar" layout="row" layout-align="space-between center">
    <md-button ng-click="vm.closeMainMenu();" aria-label="close navigation drawer" class="md-icon-button">
      <md-icon>arrow_back</md-icon>
      <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Close menu</md-tooltip>
    </md-button>
    <div>
      <!-- Regular notifications button -->
      <md-button ng-href="{{ vm.notificationsPageUrl }}"
                ng-click="vm.pushGAEvent('Sidenav notifications bell (normal state)', 'Click link', 'Normal state');vm.closeMainMenu();"
                aria-label="view all notifications"
                ng-if="!vm.hasPriorityNotifications && vm.showMessagesFeatures">
        <span><md-icon>notifications</md-icon></span>
        <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Notifications</md-tooltip>
      </md-button>
      <!-- High priority notifications button (DEPRECATED) -->
      <md-button ng-href="{{ vm.notificationsPageUrl }}"
                ng-click="vm.pushGAEvent('Sidenav notifications bell', 'Click link', 'High priority state');vm.closeMainMenu();"
                aria-label="you have important notifications"
                ng-if="vm.hasPriorityNotifications && vm.showMessagesFeatures">
        <span class="main-menu__high-priority">
          <md-icon class="md-warn">error</md-icon>
        </span>
        <span><md-icon>notifications</md-icon></span>
        <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Notifications</md-tooltip>
      </md-button>
      <username></username>
    </div>
  </div>
  <md-menu-content>
    <!-- App-specific content/navigation -->
    <md-subheader class="subheader__app-name" ng-if="vm.appName != ''">{{ vm.appName }}</md-subheader>
    <div ng-if="vm.appMenuTemplate" ng-include="vm.appMenuTemplate"></div>
    <md-menu-item ng-if="!vm.appMenuTemplate" ng-repeat="item in vm.menuItems">
      <md-button ng-if="item.url" ng-href="{{ item.url }}" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
          <span ng-if="item.icon">
            <md-icon>{{ item.icon }}</md-icon>
          </span>
        <span>{{ item.label }}</span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
  <!-- Footer links -->
  <md-divider></md-divider>
  <div class="links-separated">
    <a ng-repeat="link in vm.footerLinks" ng-href="{{ link.url }}" target="{{ link.target }}" rel="noopener noreferrer" ng-click="vm.pushGAEvent('sidenav-footer-link', link.title, link.url)">{{ link.title }}</a>
  </div>
  <div class="main-menu__focus-anchor-bottom" tabindex="0"></div>
</md-sidenav>
<div class="main-menu__focus-trap" ng-focus="vm.trapFocus($event, '-top')" tabindex="0"></div>
