<frame-page app-title="Demo Widgets"
            app-icon="fa-gears"
            white-background="true"
            class="demo-widgets-page">

  <md-content layout-padding>

    <!-- LOCAL DEMO -->
    <div layout="row" layout-align="start center">
      <div flex-xs="100">
        <widget fname="sample-widget__search-with-links"></widget>
      </div>
      <div flex-xs="100">
        <widget fname="sample-widget__custom"></widget>
      </div>
    </div>
    <div layout="row" layout-align="start center">
      <div flex-xs="100">
        <widget fname="sample-widget__rss"></widget>
      </div>
      <div flex-xs="100">
        <widget fname="sample-widget__list-of-links"></widget>
      </div>
    </div>
    <div layout="row" layout-align="start center">
      <div flex-xs="100">
        <widget fname="sample-widget__weather"></widget>
      </div>
    </div>

    <!-- PREDEV DEMO -->
    <!--<widget fname="wiscard-balance"></widget>-->
    <!--<widget fname="rprg"></widget>-->
    <!--<widget fname="uwrf-news-feed"></widget>-->
    <!--<widget fname="my-professional-development"></widget>-->
  </md-content>
</frame-page>
