<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div class="weather-dropdown">
  <a class=" weather-not-clicked" href="" ng-click="cycleUnits()">Change units to &deg{{nextUnits}}</a>
</div>

<div>
  <!-- Uninitialized state -->
  <div ng-if="weatherData && weatherData.length == 0 && !loading && !error">
    <div>
      <i class="fa fa-exclamation-triangle" aria-label='Warning'></i>
      <div class="warning-message-weather-widget">Hold up! You
        haven't set any weather locations yet. Launch the full app to
        select your weather locations.
      </div>
    </div>
  </div>

  <!-- Loading spinner -->
  <div ng-if="loading" id="loading" layout="row" layout-align="center center">
    <loading-gif data-object='weatherData'></loading-gif>
  </div>

  <!-- Error state -->
  <div ng-if="error">
    <p class='error-message-weather-widget'>
      <i class="fa fa-frown-o" aria-label="Error"></i>
      <br/>
      Oops! The weather service seems to be down. <a href="http://www.ssec.wisc.edu/localweather/" target="_blank"
                                                     rel="noopener noreferrer">Click here for Madison weather.</a>
    </p>
  </div>

  <!-- Display weather information -->
  <ul class="widget-list">
    <li ng-repeat="weather in weatherData | limitTo:2">
      <a href="{{ weather.moreInformationLink }}" target="_blank" rel="noopener noreferrer">
        <p class="bold">{{ weather.location.city }}, {{ weather.location.stateOrCountry }}</p>
        <div>
          <div class="forecast">
            <div class='row'>
              <div class="col-xs-3 day">
                <p>Now</p>
                <img ng-src="{{config.iconPrefix}}{{weather.currentWeather.imgName}}{{config.iconPostfix}}"
                     title="{{weather.currentWeather.condition}}"
                     alt="{{weather.currentWeather.condition}}">
                <p>{{ weather.currentWeather.temperature| number:0 }}&deg; {{ currentUnits }}</p>
              </div>
              <div class="col-xs-3 day" ng-repeat="forecast in weather.forecast">
                <p>{{ forecast.day }}</p>
                <img ng-src="{{config.iconPrefix}}{{forecast.imgName}}{{config.iconPostfix}}"
                     title="{{forecast.condition}}"
                     alt="{{forecast.condition}}">
                <p>H: {{ forecast.highTemperature | number: 0 }}&deg;</p>
                <p>L: {{ forecast.lowTemperature | number: 0 }}&deg;</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>


  <p class="credit">
    Powered by <a href="http://www.worldweatheronline.com/" target="_blank" rel="noopener noreferrer">World Weather Online</a>
  </p>
</div>

<!-- Launch app button -->
<launch-button data-href="{{ ::widget.url }}"
               data-target="{{ widget.target ? widget.target : '_self' }}"
               data-button-text="Launch full app"
               data-aria-label="Launch weather app"></launch-button>
