<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- A.B.E. CONTENT -->
<div class="widget-body" ng-if="showAnnualBenefitsEnrollmentContent" layout="column" layout-align="center center">
  <!-- Annual benefits enrollment -->
  <span class="abe__title">Annual benefits enrollment</span>
  <div ng-switch="enrollmentPeriodStatus" class="abe__status">
    <p ng-switch-when="upcoming">Begins {{ enrollStartDate | date:mediumDate }}</p>
    <div ng-switch-when="ongoing" layout="column" layout-align="center center">
      <p><span class="abe__days-left">{{ daysLeft }}</span> day left to enroll</p>
      <p><md-button class="md-raised md-accent" ng-href="config.enrollLink">Enroll now</md-button></p>
    </div>
    <div ng-switch-when="lastDay" layout="column" layout-align="center center">
      <span class="abe__last-day"><md-icon class="md-warn" aria-label="warning:">warning</md-icon>Today is the last day to change benefits.</span>
      <p><md-button class="md-raised md-accent" ng-href="config.enrollLink">Enroll now</md-button></p>
    </div>
    <p ng-switch-when="ended">Ended {{ enrollEndDate | date:mediumDate }}</p>
  </div>
  <!-- Learn more link -->
  <!-- Give feedback link -->
  <div layout="row" layout-align="space-between center">
    <a ng-if="config.learnMoreLink" ng-href="config.learnMoreLink" target="_blank" rel="noreferrer noopener">Learn more</a>
    <a ng-if="config.surveyLink" ng-href="config.surveyLink" target="_blank" rel="noreferrer noopener">Give feedback</a>
  </div>
</div>

<!-- TEMPLATE CONTENT -->
<content-item></content-item>

<!-- BASIC CONTENT -->
<a ng-show="showBasicContent" tabindex="-1" ng-href="{{ widget.url }}" target="{{ widget.target ? widget.target : '_self' }}" class="basic-widget" rel="noopener noreferrer">
  <div class="widget-icon-container" layout="column" layout-align="center center">
    <widget-icon></widget-icon>
  </div>
</a>

<!-- LAUNCH BUTTON -->
<launch-button data-href="{{widget.url}}"
               data-target="{{ widget.target ? widget.target : '_self' }}"
               data-button-text="{{ config.launchText ? config.launchText : 'Launch full app' }}"
               data-aria-label="{{ config.launchText ? config.launchText : 'Launch ' + widget.title }}"></launch-button>
