<div class="widget-body action-items">

  <div ng-show="actionItems.length == 0" layout="row" layout-align="center center">
    <!-- Loading case -->
    <loading-gif data-object="actionItems" data-empty="isEmpty"></loading-gif>

    <!-- Error case -->
    <div ng-show="error" class="no-highlight">
      <p>There was an issue loading the information. Click See all for more info.</p>
    </div>
  </div>

  <!-- Has single action item type to display -->
  <div ng-show="actionItems.length == 1">

  </div>
  <!-- Has multiple action item types to display -->
  <div ng-show="actionItems.length > 1">
    <ul class="widget-list">
      <li ng-repeat="item in actionItems | limitTo:itemsLimit" layout="row">
        <div flex="30">
          <md-button class="md-icon-button md-accent" ng-href="{{ item.actionUrl }}" target="_blank" rel="noopener noreferrer">
            {{ item.quantity }}
          </md-button>
        </div>
        <div flex="70">
          <span ng-if="item.quantity == 1">{{ item.textSingular }}</span>
          <span ng-if="item.quantity != 1">{{ item.textPlural }}</span>
        </div>
      </li>
      <!-- Over limit case -->
      <li ng-show="actionItems.length > itemsLimit" class="no-highlight">
        <p>Showing {{ itemsLimit }} of {{ actionItems.length }}</p>
      </li>
    </ul>
  </div>

</div>

<!-- LAUNCH BUTTON -->
<launch-button data-href="{{ widget.url }}"
               data-target="{{ widget.target ? widget.target : '_self' }}"
               data-button-text="{{ config.launchText ? config.launchText : 'See all' }}"
               data-aria-label="{{ config.launchText ? config.launchText : 'Launch ' + widget.title }}"></launch-button>
