<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<md-card class="widget-frame" id="widget-id-{{ widget.nodeId }}" aria-label="{{ widget.title }} widget">

  <!-- MAINTENANCE MODE OVERLAY -->
  <div class="overlay__maintenance-mode" ng-if="widget.lifecycleState === 'MAINTENANCE'">
    <div class="maintenance-content">
      <p>
        <md-icon class="md-warn">warning</md-icon>
      </p>
      <p>This app is undergoing maintenance and is temporarily unavailable.</p>
    </div>
  </div>

  <!-- HEADER -->
  <md-card-header class="widget-header">
    <!-- Widget Chrome -->
    <md-button class="widget-action widget-info md-icon-button" aria-label="{{ widget.title }}: {{ widget.description }}" role="tooltip" ng-hide="widget.lifecycleState === 'MAINTENANCE'">
      <md-tooltip md-direction="top" class="widget-action-tooltip">
        {{ widget.description }}
      </md-tooltip>
      <md-icon>info</md-icon>
    </md-button>
    <div ng-transclude id="widget-removal">
    </div>

    <md-card-header-text>
      <span class="md-title" style="text-align: center;" aria-label="{{ widget.title }}" tabindex="0">
	      {{ widget.title }}
      </span>
    </md-card-header-text>
  </md-card-header>

  <!-- BODY -->
  <md-card-content class="widget-content">

    <div ng-switch="widgetType" class="widget-type-container">

      <div ng-switch-when="option-link">
        <option-link app="widget" config="widget.widgetConfig"></option-link>
      </div>

      <div ng-switch-when="rss">
        <rss-widget app="widget" config="widget.widgetConfig"></rss-widget>
      </div>

      <div ng-switch-when="action-items">
        <action-items app="widget" config="widget.widgetConfig"></action-items>
      </div>

      <div ng-switch-when="list-of-links">
        <list-of-links app="widget" config="widget.widgetConfig"></list-of-links>
      </div>

      <div ng-switch-when="search-with-links">
        <search-with-links app="widget" config="widget.widgetConfig"></search-with-links>
      </div>

      <div ng-switch-when="weather">
        <weather-widget app="widget" config="widget.widgetConfig"></weather-widget>
      </div>

      <div ng-switch-when="custom" class="custom-widget">
        <div ng-controller="CustomWidgetController as customWidgetCtrl">
          <div ng-if="loading" layout="row" layout-align="center center">
            <loading-gif data-object="content" data-empty="isEmpty"></loading-gif>
          </div>
          <content-item ng-if="!loading"></content-item>
        </div>
      </div>

      <div ng-switch-when="basic">
        <a tabindex="-1" ng-href="{{ renderUrl() }}" target="{{ widget.target ? widget.target : '_self' }}" class="basic-widget" rel="noopener noreferrer">
          <div class="widget-icon-container" layout="column" layout-align="center center">
            <widget-icon></widget-icon>
          </div>
        </a>
        <launch-button data-href="{{ renderUrl() }}"
                       data-target="{{ widget.target ? widget.target : '_self' }}"
                       data-rel="noopener noreferrer"
                       data-button-text="{{ widget.widgetConfig.launchText ? widget.widgetConfig.launchText : 'Launch full app' }}"
                       data-aria-label="{{ widget.widgetConfig.launchText ? widget.widgetConfig.launchText : 'Launch ' + widget.title }}">
        </launch-button>
      </div>

    </div>
  </md-card-content>

</md-card>
