<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="{{NAMES.title}} - New features" app-icon="new_releases" white-background="true">
  <md-content class="features-feed" layout-padding ng-controller="FeaturesPageController as vm">

    <!-- NO FEATURES -->
    <div ng-if="vm.announcement.length === 0" layout="row" layout-align="center center"> <!--empty case -->
      <p>No features listed at this time, please check back later.</p>
    </div>

    <!-- DISPLAY FEATURES -->
    <div class="feature-item" ng-repeat="announcement in vm.announcements | orderBy:['-goLiveDate']">
      <p class="date">{{ announcement.goLiveDate | date:mediumDate }}</p>
      <h3 class="md-title">{{ announcement.title }}</h3>

      <div class="feature-content" layout="column" layout-align-xs="start none">
        <div class="feature-text">
          <p class="description">{{ announcement.description }}</p>
          <div ng-if="announcement.moreInfoButton || announcement.actionButton" layout="row" layout-align="start center">
            <md-button class="md-accent md-raised"
                       ng-if="announcement.actionButton"
                       ng-href="announcement.actionButton.url">{{ announcement.actionButton.label }}</md-button>
            <md-button ng-if="announcement.moreInfoButton"
                       ng-href="announcement.moreInfoButton.url">{{ announcement.moreInfoButton.label }}</md-button>
          </div>
        </div>
        <div class="feature-images" ng-if="announcement.featureImageUrl" layout-gt-xs="row" layout-xs="column" layout-align="start start">
          <img ng-src="{{ announcement.featureImageUrl }}">
        </div>
      </div>

      <md-divider></md-divider>
    </div>

    <!-- REQUEST FEEDBACK -->
    <div layout="column" layout-align="center center" ng-show="MISC_URLS.feedbackURL">
      <h4 class="md-title">Have a feature you'd like to see in {{NAMES.title}}?</h4>
      <md-button class="md-primary md-raised" ng-href="{{MISC_URLS.feedbackURL}}">Send us feedback</md-button>
    </div>

  </md-content>
</frame-page>
