<div ng-controller="SessionCheckController as sessionCtrl">
  <div class='username-option' ng-show='GuestMode'>
    <a ng-href="{{MISC_URLS.myuwHome}}" class='btn btn-flat' title='Login' target='_self'>Login</a>
  </div>
  <div ng-hide='GuestMode' class='username-option' ng-click='usernameOptionOpen=!usernameOptionOpen'>
    <!-- <img src='img/bucky.png' class='gravatar' ng-if="!$storage.useGravatar">
    <img gravatar-src="'{{sessionCtrl.user.email}}'" class='gravatar' gravatar-size="50" ng-if="$storage.useGravatar"> -->
    {{sessionCtrl.user.firstName ? sessionCtrl.user.firstName : sessionCtrl.user.displayName}}
    <i class="fa fa-caret-down"
       popover-template="'usermenu.html'"
       popover-is-open="usernameOptionOpen"
       popover-placement="bottom"
       popover-trigger="none"></i>
  </div>
  <script type="text/ng-template" id="usermenu.html">
    <div class='username-menu-template'>
      <ul class='no-padding'>
        <li>
          <!-- <img src='img/bucky.png' class='gravatar' ng-if="!$storage.useGravatar">
           <img gravatar-src="'{{sessionCtrl.user.email}}'" class='gravatar' gravatar-size="50" ng-if="$storage.useGravatar"> -->
          {{sessionCtrl.user.displayName}}
        </li>
        <li ng-if='$storage.showSettings'>
          <a href="settings" class='settings-link' title='Settings'>Beta Settings</a>
        </li>
        <li ng-if='APP_FLAGS.showUserSettingsPage'>
          <a href="user-settings" class='settings-link' title='Settings'>Settings</a>
        </li>
        <li>
          <a ng-href="{{MISC_URLS.logoutURL}}" class='logout-link' title='Logout' target='_self'>Sign out</a>
        </li>
      </ul>
    </div>
  </script>
</div>
