<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<style type="text/css">
  .no-js {
    margin-bottom: 0;
    font-size: medium;
    background: #EEE;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
  }

  .slowfade {
    -webkit-transition: opacity 1.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1.5s;
    opacity: 0;
  }

  #ieAlert {
    display: none;
  }
</style>
<!--Bad browser error message-->
<div id="ieAlert" ng-hide="portal.hideIEAlert" class="md-dialog-container" style="top: 0px; height: 100%; width: 100%; background: rgba(0,0,0,0.3); z-index: 2001;">
  <md-dialog style="background: #fff;" class="md-transition-in" role="alertdialog" tabindex="-1">
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
      <h2 class="md-title">MyUW works best in Firefox and Chrome</h2>
      <div class="md-dialog-content-body">
        <a href="https://kb.wisc.edu/page.php?id=44398" target="_blank" style="color: #0479a8; text-decoration: none; font-size: 14px; line-height: 20px;">Get help updating your browser.</a>
      </div>
    </md-dialog-content>   
    <md-dialog-actions>
      <md-button ng-click="portal.hideIEAlert = true" class="md-primary md-confirm-button" type="button" ng-click="dialog.hide()" style="text-transform: none; margin: 8px 0 8px 8px; min-height: 36px; min-width: 88px;">Close</md-sbutton>
    </md-dialog-actions>     
  </md-dialog>
</div>
<script>
  // If it's IE, show the alert
  if(window.navigator.userAgent.match(/(MSIE|Trident)/)) {
    document.getElementById('ieAlert').style.display = 'flex';
  }
</script>

<!-- Loading state -->
<div ng-hide="portal.loading.hidden" ng-class="{slowfade: portal.loading.startFade}" style="
        position : fixed;
        top: 0;
        z-index: 2000;
        color: darkgrey;
        background: #EAE8DF;
        height: 100vh;
        width: 100vw;
        text-align: center;
        padding-top: 45vh;
        font-size: xx-large;
        margin: -8px;
        font-family: Roboto, Helvetica Neue, sans-serif;"
      id="loading-splash">
        <!--No javascript enabled-->
        <noscript>
            <div class="no-js" role="alert">
            <div class="container">
              <i class="fa fa-2x fw fa-exclamation-triangle pull-left"></i>
              <strong>
                Please <a href="http://enable-javascript.com" target="_blank" rel='noopener noreferrer'>enable Javascript</a> to interact with all forms and features on our website.  For further assistance, contact the <a href="https://kb.wisc.edu/helpdesk/" target="_blank" rel='noopener noreferrer'>Help Desk</a>.
              </strong>
            </div>
          </div>
        </noscript>
        <!--loading for realz-->
        Loading...</div>