<!-- EXAMPLE OF AN OPTION TEMPLATE WITH MANY OPTIONS -->
<script type="text/ng-template" id="MainOptions.html">
  <md-menu-item>
    <md-button class="md-default" href='http://uw-madison-doit.github.io/uw-frame/latest/#/md/directives'>See Documentation</md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button class="md-default" href='https://www.github.com/uw-madison-doit/uw-frame'><span><i class='fa fa-github'></i> Checkout Repo</span></md-button>
  </md-menu-item>
</script>

<!-- EXAMPLE OF AN OPTION TEMPLATE WITH A SINGLE OPTION -->
<script type="text/ng-template" id="SingleOption.html">
  <md-button class="md-default" href='http://uw-madison-doit.github.io/uw-frame/latest/#/md/directives'>See Documentation</md-button>
</script>


<frame-page app-title='Frame App Home'
            app-icon='fa-home'
            app-action-link-url="settings"
            app-add-to-home='true'
            app-fname='fake-fname'
            app-action-link-icon="fa-plus"
            app-action-link-text="Add to home"
            app-option-template="MainOptions.html"
            white-background="false">
  <style>
    md-card {
      height: 170px;
      width: 180px;
      background-color: #f3f3f3;
    }
    a:hover {
      text-decoration: none !important;
    }
  </style>
  <md-content style="background-color:transparent;max-width:820px;margin:0 auto;" layout-padding>
    <p class='center'>This is just the default example page. Below are easy access links so you don't have to type the specific page you are working on.</p>

    <md-grid-list md-cols-gt-sm="4" md-cols="1" md-cols-sm="3"
                  md-row-height="180px"
                  md-gutter-gt-sm="12px" md-gutter-sm="8px" md-gutter="4px">

      <md-grid-tile>
        <a href="settings">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Beta Settings</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content class="center">
              <i class='fa fa-gears fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="user-settings">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">User Settings</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content class="center">
              <i class='fa fa-gears fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="notifications">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Notifications</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <i class='fa fa-bell fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="server-error">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Server Error</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <i class='fa fa-exclamation-triangle fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="access-denied">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Access Denied</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <i class='fa fa-exclamation-triangle fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="features">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Features</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <i class='fa fa-newspaper-o fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a href="broken-link">
          <md-card layout="column" layout-align="start center">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">404 page</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <i class='fa fa-exclamation fa-3x'></i>
            </md-card-content>
          </md-card>
        </a>
      </md-grid-tile>

    </md-grid-list>

  </md-content>
</frame-page>
