<div class="row portlet-frame">
  <notification-bell mode="priority" class="visible-xs"></notification-bell>
  <app-header
    app-title="{{appTitle}}"
    app-icon="{{appIcon}}"
    app-action-link-url="{{appActionLinkUrl}}"
    app-action-link-icon="{{appActionLinkIcon}}"
    app-action-link-text="{{appActionLinkText}}"
    app-option-template="{{appOptionTemplate}}"
    app-single-option="{{appSingleOption}}"
    app-add-to-home='appAddToHome'
    app-fname="{{appFname}}"
  ></app-header>
  <div role="main" ng-class="{ 'white-page' : whiteBackground }">
    <ng-transclude></ng-transclude>
  </div>
</div>
