<form name="searchForm" ng-submit="submit()" ng-hide="$storage.typeaheadSearch">
  <md-input-container class="md-block myuw-search" md-no-float layout="row" layout-align="start center">
    <md-button class="md-icon-button" ng-click="submit()" aria-label="submit search">
      <i class="fa fa-search"></i>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="initialFilter"
           aria-label="Search bar enter the app you are looking for"
           focus-me="showSearchFocus"
           autocomplete="off">
  </md-input-container>
</form>
<form name="searchForm" ng-submit="submit()" ng-show="$storage.typeaheadSearch">
  <md-input-container class="md-block myuw-search" md-no-float layout="row" layout-align="start center">
    <md-button class="md-icon-button" ng-click="submit()" aria-label="submit search">
      <i class="fa fa-search"></i>
    </md-button>
    <input type="search"
           name="initialFilter"
           placeholder="Search {{portal.theme.title}}"
           ng-model="initialFilter"
           aria-label="Search bar enter the app you are looking for"
           focus-me="showSearchFocus"
           typeahead="title as match.title for match in filterMatches | limitTo:10"
           typeahead-on-select="onSelect($item, $model, $label)"
           typeahead-loading="portletListLoading"
           typeahead-min-length="2"
           typeahead-focus-first='false'
           autocomplete="off">
  </md-input-container>
</form>