<!-- DESKTOP MASCOT ANNOUNCEMENTS -->
<md-menu class="mascot-menu announcement-creeper"
         ng-if="mode === 'mascot' && announcements && announcements.length > 0"
         ng-class="{ 'announcement-hover' : hover, 'announcement-active' : active }"
         md-offset="-200 0"
         md-position-mode="target bottom">
  <md-button class="mascot-button"
             ng-click="toggleActive();toggleHover();$mdOpenMenu($event);"
             ng-mouseenter="toggleHover()"
             ng-mouseleave="toggleHover()"
             aria-label="Click to see what's new"
             md-no-ink
             md-menu-origin>
    <img ng-src="{{ mascotImage }}"
         ng-click="pushGAEvent('feature', 'toggle-bucky', 'na');">
    <md-tooltip ng-if="!active" md-direction="bottom" class="top-bar-tooltip" md-delay="500">
      Click to see what's new ({{announcements.length}})
    </md-tooltip>
  </md-button>
  <md-menu-content class="top-bar-menu-content">
    <md-menu-item layout="row" layout-align="space-between center">
      <span>Announcements</span>
      <a href="features" ng-click="markAnnouncementsSeen(true)" aria-label="see all announcements" class="link__see-all">
        See all
      </a>
    </md-menu-item>
    <md-menu-item ng-repeat="announcement in announcements | orderBy:'-id' | limitTo:3"
                  class="top-bar-menu-item">
      <div class="menu-item-content" layout="row" layout-align="space-between start">
        <div layout="column" layout-align="center start" flex="80">
          <span class="menu-item-title">{{announcement.buckyAnnouncement.shortTitle}}</span>
          <span>{{announcement.buckyAnnouncement.shortDesc}}</span>
        </div>
        <md-button class="md-icon-button button__mark-seen" ng-click="markAnnouncementSeen(announcement.id, false);" md-prevent-menu-close="md-prevent-menu-close" aria-label="mark this announcement seen" flex="20">
          <md-icon>clear</md-icon>
        </md-button>
      </div>
    </md-menu-item>
  </md-menu-content>
</md-menu>

<!-- MOBILE MENU ANNOUNCEMENTS -->
<div ng-if="mode === 'mobile-menu' && announcements && announcements.length > 0" class="mobile">
  <md-menu-item>
    <md-button class="md-default" href="features"
               ng-click="markAllAnnouncementsSeen(true)"
               layout="row" layout-align="start center">
      <md-icon>new_releases</md-icon>
      <span>What's new ({{announcements.length}})</span>
    </md-button>
  </md-menu-item>
</div>
