<div class='my-uw'>
  <div class="features-popup" layout="column" layout-align="center center">
    <h1 class="md-display-1" ng-bind-html="latestFeature.title"></h1>

    <img ng-src="{{ latestFeature.img }}" class="hidden-xs" aria-describedby="featureContent">

    <div class="sr-only" tabindex="0">
      <p id="featureContent">{{ latestFeature.description }}</p>
    </div>

    <p class="visible-xs learn-more" ng-if='latestFeature.learnMoreURL'>Learn more at <a ng-href="{{latestFeature.learnMoreURL}}" target='_blank'>{{ latestFeature.learnMoreURL}}</a></p>

    <md-button class="md-primary md-raised" ng-click="$close()">{{ latestFeature.popup.buttonText }}</md-button>

    <p class="hidden-xs" ng-if='latestFeature.learnMoreURL'>Or learn more at <a ng-href="{{latestFeature.learnMoreURL}}" target='_blank'>{{ latestFeature.learnMoreURL }}</a></p>
  </div>
</div>
