<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="Notifications" app-icon="notifications" white-background="true">
  <div class="notifications" ng-controller="NotificationsController as vm">
    <!-- EMPTY CASE -->
    <div ng-if="vm.notifications.length == 0 && vm.dismissedNotifications.length == 0" layout-padding>
      You have no notifications to view at this time.
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
      <!-- UNSEEN NOTIFICATIONS -->
      <md-tab ng-if="vm.notifications.length > 0">
        <md-tab-label>
          New&nbsp;&nbsp;<span class="badge">{{ vm.notifications.length }}</span>
        </md-tab-label>
        <md-tab-body>
          <md-content>
            <md-list class="notifications-list" flex>
              <md-list-item class="secondary-button-padding notification-item"
                            ng-repeat="notification in vm.notifications | orderBy:'priority'"
                            ng-class="{ priority: notification.priority === 'high' }"
                            layout="row"
                            layout-align="start center">

                <notifications-list-item></notifications-list-item>

                <!-- DISMISS BUTTON -->
                <md-button class="md-icon-button md-secondary"
                           ng-click="vm.dismissNotification(notification)"
                           aria-label="dismiss this notification">
                  <md-icon>clear</md-icon>
                  <md-tooltip md-delay="500">Dismiss notification</md-tooltip>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab-body>
      </md-tab>
      <!-- DISMISSED NOTIFICATIONS TAB -->
      <md-tab ng-if="vm.dismissedNotifications.length > 0">
        <md-tab-label>
          Dismissed&nbsp;&nbsp;<span class="badge">{{ vm.dismissedNotifications.length }}</span>
        </md-tab-label>
        <md-tab-body>
          <md-content>
            <md-list class="notifications-list" flex>
              <md-list-item class="secondary-button-padding notification-item"
                            ng-repeat="notification in vm.dismissedNotifications | orderBy:['-priority', '-id']"
                            ng-class="{ priority: notification.priority === 'high' }"
                            layout="row"
                            layout-align="start center">

                <notifications-list-item></notifications-list-item>

                <!-- RESTORE BUTTON -->
                <md-button class="md-icon-button md-secondary"
                           ng-click="vm.restoreNotification(notification)"
                           aria-label="restore this notification">
                  <md-icon>undo</md-icon>
                  <md-tooltip md-delay="500">Restore notification</md-tooltip>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</frame-page>
