/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* Skip navigation */
.skip-to-content a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0;
  color: @white;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 100;

  &:focus {
    position: absolute;
    left: 0;
    top: 0;
    background: @black;
    outline: 0;
    transition: top .1s ease-in, background .5s linear;
  }
}

/* Portlet and Frame Content Styling */
.my-uw-body {
  min-height: 100vh;
  display: flex;

  .page-content {
    background-color: @grayscale4;
    transition: padding 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 60px 0 0;
    flex: auto;
    display: flex;
    flex-direction: column;

    .white-page {
      background-color: @white;
    }

    .region-main {
      position: relative;
      flex: auto;
      height: 100%;
    }

    @media (max-width: @xs) {
      margin-top: 56px;
      height: auto;
    }
  }
}

/* Frame page styles for on-page side navigation */
frame-page {
  .wrapper__frame-page {
    height: 100%;
    display: flex;
    flex-direction: column;

    .wrapper__push-content {
      flex: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      ng-transclude {
        flex: auto;
      }
    }
  }
}
