/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
portal-header {
  display: block;
  position: sticky;
  z-index: @top-bar-1;
  top: 0;
  overflow-y: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

  a {
    &:not(.md-button):not(.btn):not(.launch-app-button):not(.full-width):not(.title-link__small) {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  .md-menu {
    > .md-button {
      min-width: 48px;
      margin: 0;
    }
  }

  .title-link h1 {
    margin-left: 16px;
  }

  .title-link__two-names {
    align-items: baseline;

    a.title-link__theme-name {
      margin-left: 18px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      margin-left: 6px;
      font-size: 16px;
      white-space: nowrap;
      z-index: @top-bar-3;
      line-height: inherit;

      &:hover {
        cursor: default;
      }
    }
  }

  .menu-toggle.md-button.menu-margin {
    min-width: 48px;
    margin: 0;

    ~ .title-link h1 {
      @media (min-width: @xs) {
        margin-left: 0;
      }
    }

    ~ .title-link__two-names {
      a.title-link__theme-name {
        margin-left: 0;
      }
    }

    .material-icons:not(.notification-badge-icon) {
      color: var(--myuw-app-bar-color, @white);
    }
  }

  .top-bar-controls-xs {
    .avatar__default {
      margin-right: 12px;
    }

    .md-icon-button {
      margin-right: 0;
    }
  }

  .header__search-bar-container {
    height: 100%;
    z-index: @top-bar-2;
  }

  @media (max-width: @xs) {
    .search-xs {
      width: 100%;
      position: absolute;
      top: 56px;
      z-index: @top-bar-1;
      overflow: hidden;
      transition: @transition-height;
      background: rgba(0, 0, 0, 0.4);

      &:not(.search-expanded) {
        height: 0;
      }

      &.search-expanded {
        height: 56px;
      }

      form {
        height: auto;
        max-width: none;

        .myuw-search {
          padding: 2px 0 2px 18px;
          margin: 8px 12px;
          height: 40px;
          background: @white;

          .search-submit-xs {
            min-height: 0;
            height: 40px;
            width: 15%;
            border-radius: 0;
            position: relative;
            top: -2px;
            right: -2px;
          }

          .md-input {
            float: left;
            color: @grayscale10;
            height: 36px;
            width: 85%;
          }
        }
      }
    }
  }
}
