<md-button class="md-primary link-div" ng-if='actionLinkUrl && !addToHome'>
  <a ng-href="{{actionLinkUrl}}">
    <i class="fa fa-fw {{actionLinkIcon}}"></i> {{actionLinkText}}
  </a>
</md-button>

<div ng-controller="AddToHomeController" ng-if="addToHome">
  <!-- Button for medium+ screens -->
  <md-button class="md-default link-div" aria-label="add to home" hide-xs hide-sm>
    <span ng-hide='inHome' ng-click='addToHome()'>
      <i class="fa fa-fw {{actionLinkIcon}}" ng-class="{ 'fa-spin' : savingAddToHome, 'fa-plus' : !actionLinkIcon}"></i> {{actionLinkText}}
    </span>
    <span ng-show='successfullyAdded'>
      <i class="fa fa-fw fa-check-square"></i> {{actionLinkText}} Saved
    </span>
    <span ng-show='addToHomeFailed'>
      <i class="fa fa-fw fa-exclamation-triangle"></i> {{actionLinkText}} Failed
    </span>
  </md-button>

  <!-- Button for small and xs screens -->
  <md-menu-item hide-gt-sm>
    <md-button class="md-default link-div" aria-label="add to home">
    <span ng-hide="inHome" ng-click="addToHome()" style="text-transform: capitalize;">
      <i class="fa fa-fw {{actionLinkIcon}}" ng-class="{ 'fa-spin' : savingAddToHome, 'fa-plus' : !actionLinkIcon}"></i> {{actionLinkText}}
    </span>
    <span ng-show="successfullyAdded" style="text-transform: capitalize;">
      <i class="fa fa-fw fa-check-square"></i> {{actionLinkText}} Saved
    </span>
    <span ng-show="addToHomeFailed" style="text-transform: capitalize;">
      <i class="fa fa-fw fa-exclamation-triangle"></i> {{actionLinkText}} Failed
    </span>
    </md-button>
  </md-menu-item>
</div>
