<div class="portlet-frame"  ng-controller="PortalNotificationController as notificationCtrl">
	<portlet-header app-title="Notifications" app-image="img/square.jpg" app-description="Get Notified of important issues." app-collapse='true'></portlet-header>

	<div class="portlet-body notifications">
		<div class="inner-nav-container">
			<ul class="inner-nav">
				<li ng-class="{ active : mode === 'new' }"><a href='javascript:;' ng-click="switch('new')"  aria-label='switch to see new notifications'>New</a></li>
				<li  ng-class="{ active : mode === 'old' }"><a href='javascript:;' ng-click="switch('old')" aria-label='switch to see old and dismissed notifications'>Dismissed</a></li>
			</ul>
		</div>
		<div>
			<ul class="notifications-list">
        		<li class="notification-item" ng-repeat="notification in notifications" ng-if='shouldShow(notification)'>
					<a class="content" ng-href='{{notification.actionURL}}' target='_blank' aria-label='{{notification.actionAlt}}'>
	            		<p>{{ notification.title }}</p>
					</a>
					<div class="action" ng-click='dismiss(notification)' ng-hide="!notification.dismissable || isDismissed(notification)">
	            	<i class='fa fa-times'tooltip="Dismiss notification" tooltip-placement="top" tooltip-popup-delay="300" tooltip-trigger="mouseenter"></i>
					</div>
               <div class="action" ng-click="undismiss(notification)" ng-hide="!(mode === 'old')">
                 <i class='fa fa-undo'tooltip="Revert Dismiss of notification" tooltip-placement="left" tooltip-popup-delay="300" tooltip-trigger="mouseenter"></i>
              </div>
        		</li>
        		<li class="notification-item read" ng-if="isEmpty || (countWithDismissed() === 0 && mode === 'new') || (mode === 'old' && dismissedCount() === 0)">You have no <span ng-show='dismissedCount() === 0'>dismissed</span> notifications at this time.</li>
        	</ul>
		</div>
	</div>
</div>
