<div class="features-popup center">
  <h1 ng-bind-html="latestFeature.title"></h1>
  <br>
  <img ng-src="{{ latestFeature.img }}" class="hidden-xs" aria-describedby="featureContent">
	<div class="sr-only" tabindex="0">
		<p id="featureContent">{{ latestFeature.description }}</p>
	</div>
  <p class="visible-xs learn-more" ng-if='latestFeature.learnMoreURL'>Learn more at <a ng-href="{{latestFeature.learnMoreURL}}" target='_blank'>{{ latestFeature.learnMoreURL}}.</a></p>
  <div>
    <button class="btn btn-lg btn-primary" ng-click="$dismiss()">{{ latestFeature.popup.buttonText }}</button>
  </div>
  <p class="hidden-xs" ng-if='latestFeature.learnMoreURL'>Or learn more at <a ng-href="{{latestFeature.learnMoreURL}}" target='_blank'>{{ latestFeature.learnMoreURL }}.</a></p>

</div>