<frame-page app-title="{{NAMES.title}} - Access denied" white-background="true">
  <md-content layout-padding layout="column" layout-align="center center">
    <h2 class="md-display-1 md-warn">You are not allowed to access this content</h2>
    <p>
      <i class="fa fa-exclamation-triangle fa-3x"></i>
      <br/>
    <h4 class="md-subhead"><a href="{{MISC_URLS.myuwHome}}">Back to the MyUW homepage</a></h4>
    <h4 class="md-subhead">If you continue to see this error, contact the <a href="{{MISC_URLS.helpdeskURL}}" target="_blank" rel='noopener noreferrer'>DoIT Help Desk</a></h4>
    <br/>
    </p>
  </md-content>
</frame-page>

