<div class='my-uw'>
  <div class='sr-only' ng-if="classicURL">
    <a ng-href='{{classicURL}}'>Switch back to the classic MyUW</a>
  </div>
  <div ng-controller="PortalPopupController as popupCtrl">
    <!-- HEADER -->
    <div class="container-fluid" id="body-background">
      <portal-header></portal-header>

      <!-- Body -->
      <div class="row page-content">

        <div class="region-sidebar-left col-sm-2 col-xs-0 hidden-xs no-margin" ng-if="$storage.showSidebar && APP_FLAGS.showSidebar">
            <side-bar-menu></side-bar-menu>
        </div>
        <div ng-if="(!($storage.showSidebar)) && APP_FLAGS.showSidebar" class="show-sidebar" ng-click="openSidebar()">
          <span class="fa fa-bars"></span>
        </div>
        <div role="main" id="region-main" class="col-xs-12" ng-class="{'col-sm-10 col-sm-offset-2' : ($storage.showSidebar && APP_FLAGS.showSidebar), 'col-sm-11 max-view' : (!($storage.showSidebar) || !APP_FLAGS.showSidebar)}">
          <div ng-class="routeClass" ng-view role="application" aria-labelledby="app-title"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER  -->
  <site-footer></site-footer>
</div>
