<div class='my-uw' md-theme="{{ portal.theme.name || 'default' }}">
  <!-- HEADER -->
  <div class="container-fluid" id="body-background">
    <portal-header></portal-header>

      <!-- Body -->
      <div class="row page-content">
        <div role="main" id="region-main" class="col-xs-12 no-padding">
          <div ng-class="routeClass" ng-view role="application" aria-labelledby="app-title"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER  -->
  <site-footer class='my-uw'></site-footer>
</div>
