<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<footer role="contentinfo" ng-controller="SessionCheckController as sessionCheckCtrl">
  <div class="footer-links" ng-controller="PortalFooterController as portalFooterCtrl">
    <div class="copyright">
      <span>© <p>{{date | date:'yyyy'}}</p>, Board of Regents of the <a href="http://www.wisconsin.edu/" target="_blank" rel='noopener noreferrer'>University of Wisconsin System</a></span>
    </div>
    <div layout="row" layout-align="center center" class="links-separated">
        <span ng-repeat="link in portal.theme.footerLinks">
          <a ng-href='{{link.url}}' target='{{link.target}}' rel='noopener noreferrer' ng-click="pushGAEvent('footer-link',link.title,link.url + ' ' + link.target)">{{link.title}}</a>
        </span>
        <span ng-repeat="link in FOOTER_URLS">
          <a ng-href='{{link.url}}' target='{{link.target}}' rel='noopener noreferrer' ng-click="pushGAEvent('footer-link',link.title,link.url + ' ' + link.target)">{{link.title}}</a>
        </span>
    </div>
    <div>
      <span>{{sessionCheckCtrl.user.version}}</span><span ng-show="sessionCheckCtrl.user.serverName"> - {{sessionCheckCtrl.user.serverName}}</span><span ng-show="sessionCheckCtrl.user.sessionKey"> - {{sessionCheckCtrl.user.sessionKey}}</span></span>
    </div>
  </div>
  <span ng-controller="PortalTimeoutController"></span>
</footer>
