<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- GUEST MODE ONLY -->
<md-button ng-href="{{MISC_URLS.myuwHome}}"
           ng-show="GuestMode"
           aria-label="Log in to {{portal.theme.title}}"
           target="_self"
           class="md-default">
  Log In
</md-button>

<!-- NOT GUEST MODE -->
<md-menu md-position-mode="target-right bottom" ng-controller="SessionCheckController as sessionCtrl" ng-hide="GuestMode" class="username-menu">
  <md-button aria-label="open options menu"
             class="avatar__default"
             ng-click="$mdOpenMenu($event)">
    <span>{{sessionCtrl.firstLetter}}</span>
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Options</md-tooltip>
  </md-button>
  <md-menu-content width="5" class="top-bar-menu-content username-menu-content">
    <md-menu-item class="md-2-line">
      <div class="md-list-item-text">
        <p class="display-name">{{ sessionCtrl.username }}</p>
        <p class="campus-id" ng-if="sessionCtrl.campusId">Campus ID: {{ sessionCtrl.campusId }}</p>
      </div>
      <a ng-if="sessionCtrl.profileUrl != ''" ng-href="{{ sessionCtrl.profileUrl }}" ng-click="pushGAEvent('Top Bar', 'Click Link', 'Profile');" aria-label="see your profile information" class="link__see-all md-secondary">
        Profile
      </a>
    </md-menu-item>
    <md-menu-item ng-if="$storage.showSettings" class="top-bar-menu-item">
      <md-button class="md-default" aria-label="change beta settings" tabindex="-1" ng-href="settings" title="Settings">Beta settings</md-button>
    </md-menu-item>
    <md-menu-item ng-if="APP_FLAGS.showUserSettingsPage" class="top-bar-menu-item">
      <md-button class="md-default" aria-label="change user settings" tabindex="-1" ng-href="user-settings" title="Settings">Settings</md-button>
    </md-menu-item>
    <md-menu-item class="top-bar-menu-item">
      <md-button class="md-default" aria-label="log out" tabindex="-1" ng-href="{{MISC_URLS.logoutURL}}" title="Log Out" target="_self">Log out</md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
