<!-- ADD -THIS- TO HOME BUTTON -->
<div ng-controller="AddToHomeController">
  <!-- Button for medium+ screens -->
  <md-button class="md-default link-div" aria-label="add to home" hide-xs hide-sm ng-hide="inHome" ng-click="addToHome()">
    <span ng-if="!successfullyAdded || !addToHomeFailed">
      <i class="fa fa-fw fa-plus" ng-class="{ 'fa-spin' : savingAddToHome }"></i> Add to home
    </span>
    <span ng-show="successfullyAdded">
      <i class="fa fa-fw fa-check-square"></i> Added to home
    </span>
    <span ng-show="addToHomeFailed">
      <i class="fa fa-fw fa-exclamation-triangle"></i> Add to home failed
    </span>
  </md-button>

  <!-- Button for small and xs screens -->
  <md-button class="md-default link-div" aria-label="add to home" hide-gt-sm ng-hide="inHome" ng-click="addToHome()">
    <span ng-if="!successfullyAdded || !addToHomeFailed">
      <i class="fa fa-fw fa-plus" ng-class="{ 'fa-spin' : savingAddToHome }"></i>
    </span>
    <span ng-show="successfullyAdded">
      <i class="fa fa-fw fa-check-square"></i>
    </span>
    <span ng-show="addToHomeFailed">
      <i class="fa fa-fw fa-exclamation-triangle"></i>
    </span>
    <md-tooltip ng-if="!successfullyAdded || !addToHomeFailed">Add to home</md-tooltip>
    <md-tooltip ng-if="successfullyAdded && !addToHomeFailed">Added to home</md-tooltip>
    <md-tooltip ng-if="addToHomeFailed && !successfullyAdded">Add to home failed</md-tooltip>
  </md-button>
</div>
