<script type="text/ng-template" id="AppHeaderOptions.html">
  <add-to-home class='visible-xs'></add-to-home>
  <div ng-include="optionTemplate">

  </div>
</script>

<div role="heading" class="app-header">
  <div class="col-sm-7 col-xs-9">
    <h3 id="app-title" class='title'><i class="fa {{::icon}}"></i> {{::title}}</h3>
  </div>
  <div class="col-sm-5 col-xs-3 header-links">
    <div ng-if='optionTemplate' class="link-div" popover-template="'AppHeaderOptions.html'" popover-placement="bottom" popover-trigger="click">
      <span class='visible-xs'><i class='fa fa-gear fa-fw'></i></span><span class='hidden-xs'>Options <i class="fa fa-caret-down"></i></span>
    </div>
    <add-to-home class='hidden-xs'></add-to-home>
  </div>
</div>
