<script type="text/ng-template" id="AppHeaderOptions.html">
  <a ng-if='actionLinkUrl' class='visible-xs' ng-href="{{actionLinkUrl}}"><i class="fa {{actionLinkIcon}}"></i> {{actionLinkText}}</a>
  <div ng-include="optionTemplate">

  </div>
</script>

<div role="heading" class="app-header">
  <div class="col-sm-7 col-xs-9">
    <h3 id="app-title" class='title'><i class="fa {{::icon}}"></i> {{::title}}</h3>
  </div>
  <div class="col-sm-5 col-xs-3 header-links">
    <div ng-if='optionTemplate' class="link-div" popover-template="'AppHeaderOptions.html'" popover-placement="bottom" popover-trigger="click">
      <span class='visible-xs'><i class='fa fa-gear fa-fw'></i></span><span class='hidden-xs'>Options <i class="fa fa-angle-down"></i></span>
    </div>
    <div class="link-div hidden-xs" ng-if='actionLinkUrl && !addToHome'>
      <a ng-href="{{actionLinkUrl}}">
        <i class="fa fa-fw {{actionLinkIcon}}"></i> {{actionLinkText}}
      </a>
    </div>
    <div class="link-div hidden-xs" ng-if='addToHome'>
      <div ng-controller='AddToHomeController'>
        <span ng-hide='inHome' ng-click='addToHome()'>
          <i class="fa fa-fw {{actionLinkIcon}}" ng-class="{ 'fa-spin' : savingAddToHome}"></i> {{actionLinkText}}
        </span>
        <span ng-show='successfullyAdded'>
          <i class="fa fa-fw fa-check-square"></i> {{actionLinkText}} Saved
        </span>
        <span ng-show='addToHomeFailed'>
          <i class="fa fa-fw fa-exclamation-triangle"></i> {{actionLinkText}} Failed
        </span>
      </div>
    </div>
  </div>
</div>
