<md-menu md-position-mode="target-right bottom">
  <md-button aria-label="Open options menu" class="md-primary link-div" ng-click="$mdOpenMenu($event)">
    <span layout="row" layout-align="center center"><md-icon>settings</md-icon></span>
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Settings</md-tooltip>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item>
      <md-button class="md-default" href="http://uw-madison-doit.github.io/uw-frame/latest/#/md/directives">See Documentation</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button class="md-default" href="https://www.github.com/uw-madison-doit/uw-frame"><span><i class="fa fa-github"></i> Checkout Repo</span></md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
