<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- ADD TO HOME BUTTON -->
<div ng-controller="AddToHomeController" class="animate-add-to-home" ng-hide="inHome">
  <!-- Buttons for medium+ screens -->
  <md-button class="md-default link-div" aria-label="add to home" hide-xs hide-sm ng-click="addToHome()" ng-if="!successfullyAdded && !addToHomeFailed && !savingAddToHome">
    <md-icon ng-hide="savingAddToHome">add</md-icon> Add to home
  </md-button>
  <md-button class="md-default link-div" aria-label="adding to home" hide-xs hide-sm ng-click="addToHome()" ng-if="!successfullyAdded && !addToHomeFailed && savingAddToHome" ng-disabled="true">
    <i class="fa fa-fw fa-spin fa-circle-o-notch" ng-show="savingAddToHome"></i> Adding...
  </md-button>
  <md-button class="md-default link-div" aria-label="added to home" hide-xs hide-sm ng-click="addToHome()" ng-if="successfullyAdded" ng-disabled="true">
    <md-icon>check</md-icon> Added to home
  </md-button>
  <md-button class="md-default link-div" aria-label="add to home failed" hide-xs hide-sm ng-click="addToHome()" ng-if="addToHomeFailed" ng-disabled="true">
    <md-icon>error</md-icon> Add to home failed
  </md-button>

  <!-- Button for small and xs screens -->
  <md-button class="md-default link-div" aria-label="add to home" hide-gt-sm ng-click="addToHome()" ng-if="!successfullyAdded && !addToHomeFailed && !savingAddToHome">
    <md-icon ng-hide="savingAddToHome">add</md-icon>
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500" >Add to home</md-tooltip>
  </md-button>
  <md-button class="md-default link-div" aria-label="adding to home" hide-gt-sm ng-click="addToHome()" ng-if="!successfullyAdded && !addToHomeFailed && savingAddToHome">
    <i class="fa fa-fw fa-spin" ng-show="savingAddToHome"></i> Adding...
  </md-button>
  <md-button class="md-default link-div" aria-label="added to home" hide-gt-sm ng-click="addToHome()" ng-if="successfullyAdded" ng-disabled="true">
    <md-icon>check</md-icon> Added to home
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Added to home</md-tooltip>
  </md-button>
  <md-button class="md-default link-div" aria-label="add to home failed" hide-gt-sm ng-click="addToHome()" ng-if="addToHomeFailed" ng-disabled="true">
    <md-icon>error</md-icon> Add to home failed
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Add to home failed</md-tooltip>
  </md-button>
</div>
