<md-toast>
  <div class="md-toast-content">
    <span class="md-toast-text" flex>Add to home?</span>
    <div layout="row">
      <md-button ng-click="addToHome()"
                 class="md-raised md-accent">
        <span ng-if="!successfullyAdded && !addToHomeFailed && !savingAddToHome"><md-icon>add</md-icon> Add</span>
        <span ng-if="!successfullyAdded && !addToHomeFailed && savingAddToHome" ng-disabled="true">
        <i class="fa fa-fw fa-spin fa-circle-o-notch" ng-show="savingAddToHome"></i>
      </span>
        <span ng-if="successfullyAdded" ng-disabled="true"><md-icon>check</md-icon> Added to home</span>
        <span ng-if="addToHomeFailed" ng-disabled="true"><md-icon>error</md-icon> Add to home failed</span>
      </md-button>
      <md-button ng-click="dismissToast()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>
</md-toast>

