md-menu-content {
  a {
    color: @black!important;
    &:hover, &:active, &:focus {
      color: @black;
      text-decoration: none;
    }
  }
  md-menu-item {
    color: @black;
    .md-button {
      font-weight: 400;
      &:hover {
        background-color: transparent;
      }
    }
    .myuw-search {
      margin: 10px 0 0 0;
      padding: 0;
      .md-icon-button {
        margin: 0;
        padding: 0;
        height: 36px;
        width: 36px;
      }
      .md-input {
        display:inline-block;
        width:80%;
      }
    }
  }
}

md-dialog {
  background: @white;
}
.md-open-menu-container.md-whiteframe-z2 {
  box-shadow: none;
  > md-menu-content {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  }
}
md-menu-content.mascot-menu-content {
  min-width: 275px;
  padding: 0;
  right: 70px;
  position: relative;
  md-menu-item.mascot-menu-item {
    height: auto;
    max-width: 275px;
    padding: 0;
    border-bottom: 1px solid @grayscale2;
    transition: @background-transition;
    &:hover {
      background: @grayscale2;
    }
    .announcement-link {
      padding: 8px 16px;
      transition: @mascot-transition;
      .md-subhead {
        color: @color1;
      }
      &:hover {
        .md-subhead {
          color: darken(@color1, 15%);
          text-decoration: underline;
        }
      }
    }
    .announcement-text {
      width: 190px;
    }
    .md-icon-button {
      .material-icons {
        font-size: 20px;
      }
      &:hover {
        .material-icons {
          color: @grayscale10;
        }
      }
      .md-ripple-container {
        width: 40px;
      }
    }
  }
}

md-tooltip.widget-action-tooltip {
  max-width: 250px;
  .md-content {
    background: rgba(0,0,0,0.7);
    white-space: normal;
    height: auto;
    line-height: 18px;
    font-size: 12px;
    padding: 4px 8px;
    @media (max-width: 600px) {
      line-height: 20px;
      padding: 4px 8px;
    }
  }
}