<frame-page app-title="{{NAMES.title}} - Access denied" white-background="true">
  <md-content layout-padding layout="column" layout-align="center center">
    <h1 class="md-display-1 md-warn"><md-icon class="md-48 md-warn">warning</md-icon> You are not allowed to access this content</h1>
    <br>
    <h4 class="md-subhead"><md-button class="md-accent md-raised" ng-href="{{MISC_URLS.myuwHome}}"><md-icon>arrow_back</md-icon> Go back to the MyUW homepage</md-button></h4>
    <p>If you continue to see this error, contact the <a href="{{MISC_URLS.helpdeskURL}}" target="_blank" rel='noopener noreferrer'>DoIT Help Desk</a></p>
  </md-content>
</frame-page>

